<div class="main-container">
    <h1 class="section-title">Support</h1>
    <text-card [textClass]="'grey-text'">
        <p>In his tractibus navigerum nusquam visitur flumen sed in locis plurimis aquae suapte natura calentes emergunt
            ad usus aptae multiplicium medelarum. verum has quoque regiones pari sorte Pompeius Iudaeis domitis et
            Hierosolymis captis in provinciae speciem delata iuris dictione formavit.</p>
        <p>Quare hoc quidem praeceptum, cuiuscumque est, ad tollendam amicitiam valet; illud potius praecipiendum fuit,
            ut eam diligentiam adhiberemus in amicitiis comparandis, ut ne quando amare inciperemus eum, quem aliquando
            odisse possemus. Quin etiam si minus felices in diligendo fuissemus, ferendum id Scipio potius quam
            inimicitiarum tempus cogitandum putabat.</p>
        <p>Etenim si attendere diligenter, existimare vere de omni hac causa volueritis, sic constituetis, iudices, nec
            descensurum quemquam ad hanc accusationem fuisse, cui, utrum vellet, liceret, nec, cum descendisset,
            quicquam habiturum spei fuisse, nisi alicuius intolerabili libidine et nimis acerbo odio niteretur. Sed ego
            Atratino, humanissimo atque optimo adulescenti meo necessario, ignosco, qui habet excusationem vel pietatis
            vel necessitatis vel aetatis. Si voluit accusare, pietati tribuo, si iussus est, necessitati, si speravit
            aliquid, pueritiae. Ceteris non modo nihil ignoscendum, sed etiam acriter est resistendum.</p>
        <p>Restabat ut Caesar post haec properaret accitus et abstergendae causa suspicionis sororem suam, eius uxorem,
            Constantius ad se tandem desideratam venire multis fictisque blanditiis hortabatur. quae licet ambigeret
            metuens saepe cruentum, spe tamen quod eum lenire poterit ut germanum profecta, cum Bithyniam introisset, in
            statione quae Caenos Gallicanos appellatur, absumpta est vi febrium repentina. cuius post obitum maritus
            contemplans cecidisse fiduciam qua se fultum existimabat, anxia cogitatione, quid moliretur haerebat.</p>
        <p>Quanta autem vis amicitiae sit, ex hoc intellegi maxime potest, quod ex infinita societate generis humani,
            quam conciliavit ipsa natura, ita contracta res est et adducta in angustum ut omnis caritas aut inter duos
            aut inter paucos iungeretur.</p>
    </text-card>
</div>