<div class="main-container">
    <h1 class="section-title">Offers</h1>
    <card-container [textClass]="'grey-text'">
        <p>Dum haec in oriente aguntur, Arelate hiemem agens Constantius post theatralis ludos atque circenses ambitioso
            editos apparatu diem sextum idus Octobres, qui imperii eius annum tricensimum terminabat, insolentiae
            pondera gravius librans, siquid dubium deferebatur aut falsum, pro liquido accipiens et conperto, inter alia
            excarnificatum Gerontium Magnentianae comitem partis exulari maerore multavit.</p>
        <p>Quaestione igitur per multiplices dilatata fortunas cum ambigerentur quaedam, non nulla levius actitata
            constaret, post multorum clades Apollinares ambo pater et filius in exilium acti cum ad locum Crateras
            nomine pervenissent, villam scilicet suam quae ab Antiochia vicensimo et quarto disiungitur lapide, ut
            mandatum est, fractis cruribus occiduntur.</p>
        <p>Omitto iuris dictionem in libera civitate contra leges senatusque consulta; caedes relinquo; libidines
            praetereo, quarum acerbissimum extat indicium et ad insignem memoriam turpitudinis et paene ad iustum odium
            imperii nostri, quod constat nobilissimas virgines se in puteos abiecisse et morte voluntaria necessariam
            turpitudinem depulisse. Nec haec idcirco omitto, quod non gravissima sint, sed quia nunc sine teste
            dico.</p>
        <p>In his tractibus navigerum nusquam visitur flumen sed in locis plurimis aquae suapte natura calentes emergunt
            ad usus aptae multiplicium medelarum. verum has quoque regiones pari sorte Pompeius Iudaeis domitis et
            Hierosolymis captis in provinciae speciem delata iuris dictione formavit.</p>
        <p>Qui cum venisset ob haec festinatis itineribus Antiochiam, praestrictis palatii ianuis, contempto Caesare,
            quem videri decuerat, ad praetorium cum pompa sollemni perrexit morbosque diu causatus nec regiam introiit
            nec processit in publicum, sed abditus multa in eius moliebatur exitium addens quaedam relationibus
            supervacua, quas subinde dimittebat ad principem.</p>
    </card-container>
</div>