<div class="main-container">
    <h1 class="section-title">Home</h1>
    <text-card [textClass]="'grey-text'">
        <p>In his tractibus navigerum nusquam visitur flumen sed in locis plurimis aquae suapte natura
            calentes emergunt ad usus aptae multiplicium medelarum. verum has quoque regiones pari sorte
            Pompeius Iudaeis domitis et Hierosolymis captis in provinciae speciem delata iuris dictione
            formavit.</p>
        <p>Cuius acerbitati uxor grave accesserat incentivum, germanitate Augusti turgida supra modum, quam
            Hannibaliano regi fratris filio antehac Constantinus iunxerat pater, Megaera quaedam mortalis,
            inflammatrix saevientis adsidua, humani cruoris avida nihil mitius quam maritus; qui paulatim
            eruditiores facti processu temporis ad nocendum per clandestinos versutosque rumigerulos
            conpertis leviter addere quaedam male suetos falsa et placentia sibi discentes, adfectati regni
            vel artium nefandarum calumnias insontibus adfligebant.</p>
        <p>Ultima Syriarum est Palaestina per intervalla magna protenta, cultis abundans terris et nitidis
            et civitates habens quasdam egregias, nullam nulli cedentem sed sibi vicissim velut ad
            perpendiculum aemulas: Caesaream, quam ad honorem Octaviani principis exaedificavit Herodes, et
            Eleutheropolim et Neapolim itidemque Ascalonem Gazam aevo superiore exstructas.</p>
        <p>Alii summum decus in carruchis solito altioribus et ambitioso vestium cultu ponentes sudant sub
            ponderibus lacernarum, quas in collis insertas cingulis ipsis adnectunt nimia subtegminum
            tenuitate perflabiles, expandentes eas crebris agitationibus maximeque sinistra, ut longiores
            fimbriae tunicaeque perspicue luceant varietate liciorum effigiatae in species animalium
            multiformes.</p>
        <p>Advenit post multos Scudilo Scutariorum tribunus velamento subagrestis ingenii persuasionis
            opifex callidus. qui eum adulabili sermone seriis admixto solus omnium proficisci pellexit vultu
            adsimulato saepius replicando quod flagrantibus votis eum videre frater cuperet patruelis,
            siquid per inprudentiam gestum est remissurus ut mitis et clemens, participemque eum suae
            maiestatis adscisceret, futurum laborum quoque socium, quos Arctoae provinciae diu fessae
            poscebant.</p>
    </text-card>
</div>