<div class="main-container">
    <h1 class="section-title">Cartographie Sectorielle</h1>


    <div >
	    <graphe>
	     </graphe>

    </div>

   


    <div class="card-title-circle">
		    <div class="title"><span>Top 5 des technologies</span></div>
		</div>
		
		<div class="card-circles">
			<div class="trend-circle1">
			</div>
			<div class="trend-circle2">
			</div>
			<div class="trend-circle3">
			</div>
			<div class="trend-circle4">
			</div>
			<div class="trend-circle5">
			</div>
		</div>

		<div class="card-title-circles">
			<div class="title-circle">
			Spark
			</div>
			<div class="title-circle">
			Kafka
			</div>
			<div class="title-circle">
			Hadoop
			</div>
			<div class="title-circle">
			Nosql
			</div>
			<div class="title-circle">
			Cloudera
			</div>
		</div>
    
</div>