.main-container{
background: linear-gradient(to right, #93288f, #29abe2);
}



.title {
    background: #e8e8e8;
    width: 220px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    
}

.title span {
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
}

.card-title-circles{
  position:relative;
    overflow:hidden;
    display: inherit;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -6px;
    padding-bottom: 25px;
    padding-bottom: 20px;
}

.title-circle{
  background-color: #fff;
  width: 20%;
    padding-top: 20px;
    display: inline-block;
    margin-right: -4px;
    text-align: center;
    font-size: 150%;
    padding-bottom: 30px;

}

.card-circles{
  width:100%; 
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;
    
}


.trend-circle1 {

   position:relative;
    width:18%; 
    margin:0 auto;
    overflow:hidden;   
    display: inherit;
    margin-right: -4px;
     padding-bottom: 18%;

}

.trend-circle1:after{
    content:'';
    position:absolute;
    left:10%; 
    top:10%;
    border-radius:100%;
    width:80%; 
    height:80%;
    box-shadow: 0px 0px 0px 2000px #ffffff;

}

.trend-circle2 {

   position:relative;
    width:18%; 
    margin:0 auto;
    overflow:hidden;   
    display: inherit;
    margin-right: -4px;
    padding-bottom: 18%;
    border-left: solid 2px #eae8e4;

}

.trend-circle2:after{
    content:'';
    position:absolute;
    left:15%; 
    top:15%;
    border-radius:100%;
    width:70%; 
    height:70%;
    box-shadow: 0px 0px 0px 2000px #ffffff;

}

.trend-circle3 {

   position:relative;
    width:18%; 
    margin:0 auto;
    overflow:hidden;   
    display: inherit;
    margin-right: -4px;
     padding-bottom: 18%;
     border-left: solid 2px #eae8e4;

}

.trend-circle3:after{
    content:'';
    position:absolute;
    left:20%; 
    top:20%;
    border-radius:100%;
    width:60%; 
    height:60%;
    box-shadow: 0px 0px 0px 2000px #ffffff;

}

.trend-circle4 {

   position:relative;
    width:18%; 
    margin:0 auto;
    overflow:hidden;   
    display: inherit;
    margin-right: -4px;
     padding-bottom: 18%;
     border-left: solid 2px #eae8e4;

}

.trend-circle4:after{
    content:'';
    position:absolute;
    left:30%; 
    top:30%;
    border-radius:100%;
    width:40%; 
    height:40%;
    box-shadow: 0px 0px 0px 2000px #ffffff;

}

.trend-circle5 {

   position:relative;
    width:18%; 
    margin:0 auto;
    overflow:hidden;   
    display: inherit;
    margin-right: -4px;
     padding-bottom: 18%;
     border-left: solid 2px #eae8e4;

}

.trend-circle5:after{
    content:'';
    position:absolute;
    left:40%; 
    top:40%;
    border-radius:100%;
    width:20%; 
    height:20%;
    box-shadow: 0px 0px 0px 2000px #ffffff;

}

.card-title-circle{
    background-color: #fff;
    margin-left: 5%;
    margin-right: 5%;
        padding-top: 20px;
            padding-bottom: 25px;
}
