<div class="main-container">
    <h1 class="section-title">News</h1>
    <text-card [textClass]="'grey-text'">
        <p>Quam ob rem ut ii qui superiores sunt submittere se debent in amicitia, sic quodam modo inferiores extollere.
            Sunt enim quidam qui molestas amicitias faciunt, cum ipsi se contemni putant; quod non fere contingit nisi
            iis qui etiam contemnendos se arbitrantur; qui hac opinione non modo verbis sed etiam opere levandi
            sunt.</p>
        <p>Victus universis caro ferina est lactisque abundans copia qua sustentantur, et herbae multiplices et siquae
            alites capi per aucupium possint, et plerosque mos vidimus frumenti usum et vini penitus ignorantes.</p>
        <p>Ut enim benefici liberalesque sumus, non ut exigamus gratiam (neque enim beneficium faeneramur sed natura
            propensi ad liberalitatem sumus), sic amicitiam non spe mercedis adducti sed quod omnis eius fructus in ipso
            amore inest, expetendam putamus.</p>
        <p>Circa hos dies Lollianus primae lanuginis adulescens, Lampadi filius ex praefecto, exploratius causam
            Maximino spectante, convictus codicem noxiarum artium nondum per aetatem firmato consilio descripsisse,
            exulque mittendus, ut sperabatur, patris inpulsu provocavit ad principem, et iussus ad eius comitatum duci,
            de fumo, ut aiunt, in flammam traditus Phalangio Baeticae consulari cecidit funesti carnificis manu.</p>
        <p>Cum saepe multa, tum memini domi in hemicyclio sedentem, ut solebat, cum et ego essem una et pauci admodum
            familiares, in eum sermonem illum incidere qui tum forte multis erat in ore. Meministi enim profecto,
            Attice, et eo magis, quod P. Sulpicio utebare multum, cum is tribunus plebis capitali odio a Q. Pompeio, qui
            tum erat consul, dissideret, quocum coniunctissime et amantissime vixerat, quanta esset hominum vel
            admiratio vel querella.</p>
    </text-card>
</div>