<footer class="page-footer">

        <div class="row">
            <div class="col l4 m12 s12 contact-div">
                <img src="app/resources/img/trendata_fulllogo_bw.png" alt="" height="55px"/>
                <p class="grey-text text-lighten-4 sqli-address">
                    6 impasse de Lisieux<br>
                    CS43133<br>
                    31026 TOULOUSE Cedex 3<br>
                </p>
                <a class="waves-effect contact-btn">CONTACT</a>
                <div class="social-btns">
                    <a class="waves-effect waves-circle btn btn-floating blue lighten-2"><i class="fa fa-facebook"></i></a>
                    <a class="waves-effect waves-circle btn btn-floating blue lighten-2"><i
                            class="fa fa-twitter"></i></a>
                    <a class="waves-effect waves-circle btn btn-floating blue lighten-2"><i
                            class="fa fa-youtube-play"></i></a>
                    <a class="waves-effect waves-circle btn btn-floating blue lighten-2"><i
                            class="fa fa-google-plus"></i></a>
                </div>
            </div>

            <div class="col l1 m4 s4">
                <div class="col-content">
                    <h5 class="link-header">Services</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3">Link 4</a></li>
                    </ul>
                </div>
            </div>
            <div class="col l1 m4 s4">
                <div class="col-content">
                    <h5 class="link-header">Rapports</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3">Link 4</a></li>
                    </ul>
                </div>
            </div>
            <div class="col l1 m4 s4">
                <div class="col-content">
                    <h5 class="link-header">Offres</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3">Link 4</a></li>
                    </ul>
                </div>
            </div>
            <div class="col l1 m4 s4">
                <div class="col-content">
                    <h5 class="link-header">Documentation</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3">Link 4</a></li>
                    </ul>
                </div>
            </div>
            <div class="col l1 m4 s4">
                <div class="col-content">
                    <h5 class="link-header">Support</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3">Link 4</a></li>
                    </ul>
                </div>
            </div>
            <div class="col l1 m4 s4">
                <div class="col-content">
                    <h5 class="link-header">À Propos</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-copyright ft-cpr">
            © Trendata 2016
            <a class="light-blue-text text-lighten-4 right ft-cpr-links" [routerLink]="['news']">Nouveautés</a>
            <a class="light-blue-text text-lighten-4 right ft-cpr-links" [routerLink]="['cgv']">CGV</a>
            <a class="light-blue-text text-lighten-4 right ft-cpr-links" [routerLink]="['about']">À propos de
                Trendata</a>
        </div>

</footer>